/* block authorisation */
hr {
    height: 1px;
    background-color: #E0E5E1;
}
body {
    font-family: Verdana;
    background: linear-gradient(to right, whitesmoke, white);
}
/*main page*/
div {
    background-color: #E0E5E1;
    border: 1px solid #E0E5E1;
}
select {
    height: 25px;
}
#logFrm {
    width: inherit;
    height: inherit;
}
#mB, #tB {
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    min-height: 50px;
}
#mB {
    height: 600px;
}
#logPln {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    border: 1px solid black;
    background-color: darkslategray;
}
#hM {
    margin: 5px auto;
    display: flex;
    padding-left: 50px;
}
#wcfCr, #docCr, #wcLd {
    width: 75%;
    border: 1px solid #E0E5E1;
    margin: 35px auto;
}
#cmB {
    margin: 0 auto;
}
#hmB {
    background-color: lightgrey;
    font-family: Verdana;
}
#cntCrs {
    margin: auto 25px;
    padding: 5px 10px;
    width: 35px;
    font-size: 14pt;
}
#dsI {
    display: inline-block;
    width: 85%;
}
#selDs, #srcDs {
    background-color: floralwhite;
    border: 1px solid darkgrey;
    width: 45%;
    min-height: 140px;
}
#dsInf {
    margin-top: 25px;
    width: inherit;
    border: 1px solid darkgray;
    min-height: 50px;
}
#btnS {
    width: 10%;
    margin: 0;
}
#fInf {
    background-color: greenyellow;
    margin: 5px;
}
#fInf.active {
    background-color: yellow;
}
#bckB {
    font-size: 12pt;
    font-family: Verdana;
    display: none;
    opacity: 0.92;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: darkolivegreen;
    z-index: 100;
    overflow: auto;
}
#wB{
    width: 500px;
    height: 450px;
    margin: 50px auto;
    display: none;
    background-color: #FFF;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px solid darkslategrey;
    border-radius: 10px;
}
#taB {

}
#partTbl, #hTbl {
    width: 100%;
    font-size: 10pt;
}
#wspSel {
    width: 300px;
    min-height: 35px;
}
#blInfo {
    margin-right: -150px;
    font-family: Consolas;
    font-size: 11pt;
    width: 175  px;
    border: 2px solid whitesmoke;
    background-color: #d7d7d7;
    padding:0 5px;
}
#headBlock {
}

table#partTbl > tr > td > input, table#hwTbl > tr > td > input{
    width: 100%;
}
.tdP {
    width: inherit;
}
.blGr {
    background-color: #E3FFE3;
    border: 1px solid darkgreen;
}
.blBl{
    background-color: #E3E3FF;
    border: 1px solid steelblue;
}
.clear {
    margin: 0 auto !important;
}
.btnGr, .btnBl, .btnRd {
    text-decoration: none;
    font-family: Verdana;
    margin: 5px;
}

.btnBl {
    background-color: steelblue;
    border: 1px solid steelblue;
}
.btnBl:hover {
    background-color: cadetblue;
}
.btnBl:active {
    background-color: lightskyblue;
}

.btnGr {
    background-color: darkgreen;
    border: 1px solid darkgreen;
}
.btnGr:hover {
    background-color: forestgreen;
}
.btnGr:active {
    background-color: limegreen;
}

.btnRd {
    background-color: red;
    border: 1px solid red;
}
.btnRd:hover {
    background-color: indianred;
}
.btnRd:active {
    background-color: #EA0000;
}

.leftB {
    float: left;
}
.rightB {
    float: right;
}

.col0 {
    width: 200px;
    height: 75px;
}
.col1 {
    width: 175px;
    height: 65px;
}
.col2 {
    width: 150px;
    height: 50px;
}
.col3 {
    width: 150px;
    height: 35px;
}
.col4 {
    width: 125px;
    height: 25px;
}
.col5 {
    width: 100px;
    height: 50px;
}
.col6 {
    width: 100px;
    height: 25px;
}
.col7 {
    width: 75px;
    height: 50px;
}
.col8 {
    width: 50px;
    height: 25px;
}
.col9 {
    width: 25px;
    height: 25px;
}
.mini {
    width: 35px;
    height: 25px;
}
.sSz {
}
.mSz {

}
.lSz {

}
.mrg50 {
    margin: 50px;
}
.mrg25 {
    margin: 25px;
}
.erStat {
    background-color: red;
}
.scStat {
    background-color: green;
}
.lg {
    font-family: Verdana;
    font-size: 10pt;
    margin: 5px;
}
.hS {
    margin: 10px 350px;
}
.selS {
    font-size: 12pt;
    margin: 0 auto;
}
.hideS {
    display: none;
}
.showS {
    display: block;
}
.mark {
    padding: 5px;
    line-height: 30px;
    font-size: 10pt;
    color: #9A9A9A;
    background-color: lightgrey;
    border:1px solid darkgrey;
}
.ta0 {
    font-family: Verdana;
    width: 500px;
    min-height: 125px;
    resize: none;
    margin: 0 20%;
}
.ta1 {
    font-family: Verdana;
    width: 500px;
    min-height: 135px;
    resize: none;
    margin: 0 20%;
}
.ta2 {
    width: 100%;
    resize: none;
    min-height: 50px;
}
.inpPr {
    border: 0px;
    color: black;
    font-size: 12pt;
    text-align: center;
}

/*end mainpage*/