/* block authorisation */
body {
    font-family: Verdana;
    background: linear-gradient(to right, whitesmoke, white);
}
/*main page*/
body > div, body > div > div{
    background-color: #E0E5E1;
    border: 1px solid #E0E5E1;
}

#mB, #tB {
    width: 1000px;
    margin: auto;
    margin-bottom: 15px;
    min-height: 50px;
}
#mB {
    height: 600px;
}
#logPln {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    border: 1px solid black;
    background-color: darkslategray;
}
#hM {
    margin: 5px auto;
    display: flex;
    padding-left: 50px;
}
#wcfCr, #docCr, #wcLd {
    width: 75%;
    border: 1px solid #E0E5E1;
    margin: 35px auto;
}
#cmB {
    margin: 0 auto;
}

.clear {
    margin: 0 auto !important;
}
.btnGr, .btnBl {
    font-family: Verdana;
    margin: 5px;
}
.btnBl {
    background-color: steelblue;
    border: 1px solid steelblue;
}
.btnBl:hover {
    background-color: cadetblue;
}
.btnBl:active {
    background-color: lightskyblue;
}
.btnGr {
    background-color: darkgreen;
    border: 1px solid darkgreen;
}
.btnGr:hover {
    background-color: forestgreen;

}
.btnGr:active {
    background-color: limegreen;
}
.leftB {
    float: left;
}
.rightB {
    float: right;
}
.col2 {
    width: 150px;
    height: 50px;
}
.col3 {
    width: 150px;
    height: 35px;
}
.col4 {
    width: 125px;
    height: 25px;
}
.erStat {
    background-color: red;
}
.scStat {
    background-color: green;
}
.lg {
    font-family: Verdana;
    font-size: 10pt;
    margin: 5px;
}
.hS {
    margin: 10px 350px;
}
/*end mainpage*/